.fondo{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.popup{
	width: 480px;
	height: 280px;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	padding: 20px;
	position: relative;
}

.btn-cerrar{
	position: absolute;
	bottom: 0;
	left: 10px;
	font-size: 15px;
	cursor: pointer;
	color: darkgrey;
	font-family: Arial, Helvetica, sans-serif;
}

.btn-cerrar:hover{
	color: black;
}

.popup form .inputs input{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
}

.popup form .btn-submit{
	position: absolute;
	bottom: 0;
	right: 10px;
	font-size: 15px;
	cursor: pointer;
	color: darkgrey;
	font-family: Arial, Helvetica, sans-serif;
}

.popup form .btn-submit:hover{
	color: black;
}

.fondo_exito{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}