<!DOCTYPE html>
<html>
<head>
	<title>Sistema de archivos y carpetas</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iconos.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/containers.css') }}">
</head>
<body>
	<ul> 
	  <li><a href="/Home" style="position: right;">Home</a></li>
	  <li><a href="/atras">Atrás</a><li>
	  <li><a onclick="document.getElementById('ventana-emergente-carpeta').style.display='flex'">Crear carpeta</a></li>
	  <li><a onclick="document.getElementById('ventana-emergente-archivo').style.display='flex'">Crear archivo</a></li>
	  <li><a onclick="document.getElementById('ventana-emergente-renombrar').style.display='flex'">Renombrar archivo o carpeta</a></li>
	  <li><a onclick="document.getElementById('ventana-emergente-eliminar-archivo').style.display='flex'">Eliminar un archivo</a></li>
	  <li><a onclick="document.getElementById('ventana-emergente-eliminar-carpeta').style.display='flex'">Eliminar una carpeta</a></li>
	  <!--<li><a href="#about">Pegar</a></li>-->	
	</ul>

	<h1 class="letreritos" ;">PONY EXPLORER</h1>
	<div id="container1" class="container">
		{% for item in listadir %}
			<item style="text-align: center;" >
				<a href="/Mostrar_Carpeta?carpeta={{item}}" ><img class="img-carpeta" src="https://i.ibb.co/CKJpTsX/MLP-Folder.png" alt="CARPETA"/></a>
				<a href="/Mostrar_Carpeta?carpeta={{item}}" class="letreritos" ><p>{{item}}</p></a>		
				<!--https://img.icons8.com/clouds/100/000000/file.png-->
			</item>
		{% endfor %}
		
		{% for item in listaarch %}
			<item style="text-align: center;" >
				<a href="/Mostrar_Carpeta?carpeta={{item}}"><img class="img-archivo" src="https://i.ibb.co/vDnw6dF/MLP-File.png" alt="ARCHIVO"/></a>
				<p class="letreritos">{{item}}</p>	
			</item>
		{% endfor %}
	</div>	

	<div id="ventana-emergente-carpeta" class="fondo">
		<div class="popup">	
			<img class="img-carpeta" src="https://i.ibb.co/CKJpTsX/MLP-Folder.png">
			<form action="/crear_carpeta" method="POST">
				<div class="inputs">
					<!--<input type="text" name="Direccion_Padre_Carpeta" placeholder="Dirección Padre">-->
					<!--<p>Ingrese el nombre que le dará a la carpeta:</p>-->
					<input type="text" name="Nombre_carpeta" placeholder="Nombre" >
					<p><input type="reset" value="Reset"></p>
				</div>
				<input onclick="window.location.href = 'crear_carpeta'"type="submit" style="margin: 5px;" class="btn-submit" value="Guardar">
			</form>
			<button style="margin: 5px;" class="btn-cerrar" onclick="document.getElementById('ventana-emergente-carpeta').style.display='none'">Cerrar</button>
		</div>
	</div>

	<div id="ventana-emergente-archivo" class="fondo">
		<div class="popup">
			<!--<div class="btn-cerrar">+</div>-->
			<img class="img-archivo" src="https://i.ibb.co/QXwb3Hg/MLP-File.png">
			<form action="/crear_archivo" method="POST">
				<div class="inputs">
					<!--<input type="text" name="Direccion_Padre_Archivo" placeholder="Dirección Padre">-->
					<input type="text" name="Nombre_archivo" placeholder="Nombre">
					<p><input type="reset" value="Reset"></p>
				</div>
				<input type="submit" style="margin: 5px;" class="btn-submit" value="Guardar">
			</form>
			<button style="margin: 5px;" class="btn-cerrar" onclick="document.getElementById('ventana-emergente-archivo').style.display='none'">Cerrar</button>
		</div>
	</div>

	<div id="ventana-emergente-renombrar" class="fondo">
		<div class="popup">
			<!--Necesito una imagen para las cosas que no sé si son archivos o carpetas-->
			<img class="img-archivo" src="https://i.ibb.co/28khrrB/MLP-Ambos.png">
			<form action="/renombrar" method="POST">
				<p>Seleccione el elemento a renombrar:</p> 
				<select name="nombre_viejo">
					{% for item in listadir %}
					<option value={{item}}> {{item}} </option>
					{% endfor %}
					
					{% for item in listaarch %}
					<option value={{item}}> {{item}} </option>
					{% endfor %}
				</select>

				<p>Ingrese el nuevo nombre:</p> 
				<input type="text" name="nombre_nuevo" placeholder="Nuevo nombre">
				<input type="submit" style="margin: 5px;" class="btn-submit" value="Renombrar">
				<br/>
				
			</form>
			<button style="margin: 5px;" class="btn-cerrar" onclick="document.getElementById('ventana-emergente-renombrar').style.display='none'">Cerrar</button>
		</div>
	</div>

	<div id="ventana-emergente-eliminar-archivo" class="fondo">
		<div class="popup">
			
			<form action="/eliminar_archivo" method="POST">
				<p>Seleccione el archivo a eliminar:</p> 
				<select name="nombre_archivo">
					{% for item in listaarch %}
					<option value={{item}}> {{item}} </option>
					{% endfor %}
				</select>
				<input type="submit" style="margin: 5px;" class="btn-submit" value="Eliminar">
				<br/>
				
			</form>
			<button style="margin: 5px;" class="btn-cerrar" onclick="document.getElementById('ventana-emergente-eliminar-archivo').style.display='none'">Cerrar</button>
		</div>
	</div>
	
	<div id="ventana-emergente-eliminar-carpeta" class="fondo">
		<div class="popup">
			<form action="/eliminar_carpeta" method="POST">
				<p>Seleccione la carpeta a eliminar:</p> 
				<select name="nombre_archivo">
					{% for item in listadir %}
					<!--NO PASA BIEN LOS DATOS SI ES UN TEXTO QUE TIENE ESPACIOS-->
					<option value={{item}}> {{item}} </option>
					{% endfor %}
				</select>
				<input type="submit" style="margin: 5px;" class="btn-submit" value="Eliminar">
				<br/>
				
			</form>
			<button style="margin: 5px;" class="btn-cerrar" onclick="document.getElementById('ventana-emergente-eliminar-carpeta').style.display='none'">Cerrar</button>
		</div>
	</div>
	

</body>
</html>