<!DOCTYPE html>

<head>
	<title>Prueba de ventana emergente</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">
</head>

<body>

	<button onclick="document.getElementById('ventana-emergente').style.display='flex'">Ventanita emergente</button>

	<div id="ventana-emergente" class="fondo">
		<div class="popup">
			<!--<div class="btn-cerrar">+</div>-->
			<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e15a968b-bd17-4659-bc36-1d42ce2d6e01/d4y9qyl-f8bb0844-61b6-437a-80b3-1d251f68f6b2.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2UxNWE5NjhiLWJkMTctNDY1OS1iYzM2LTFkNDJjZTJkNmUwMVwvZDR5OXF5bC1mOGJiMDg0NC02MWI2LTQzN2EtODBiMy0xZDI1MWY2OGY2YjIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.2yXUvulRxlIkwFpodVwtZcR8Q-lxe_0HVfXngee4D0o" style="width: 70px">
			<form action="#" method="POST">
				<div class="inputs">
					<input type="text" name="Nombre" placeholder="Nombre">
				</div>
				<input type="submit" style="margin: 5px;" class="btn-submit" value="Guardar">
			</form>
			<button style="margin: 5px;" class="btn-cerrar" onclick="document.getElementById('ventana-emergente').style.display='none'">Cerrar</button>
		</div>
	</div>
</body>

</html>