<!DOCTYPE html>
<html>
<head>
	<title>Respuesta</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/popup.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/iconos.css') }}">
</head>
<body>

	<div class="inputs">
		<img style="width: 150px; margin-top: 10px" src="https://i.ibb.co/28khrrB/MLP-Ambos.png" alt="Pony dando un discurso">
		<p style="font-family: Arial, Helvetica, sans-serif; align-items: center;" >{{final_real}}</p>
		<button style="margin: 5px; position: top; cursor: pointer;" onclick="window.location.href = 'actualizar'">Cerrar</button>
	</div>

</body>
</html>